#!/usr/bin/env bash

if has nix flake; then
    use flake .
fi

layout_poetry() {
    if [[ ! -f pyproject.toml ]]; then
        log_error 'No pyproject.toml found.'
        exit 2
    fi

    local VENV=$(poetry env info --path 2>/dev/null)
    if [[ -z $VENV || ! -d $VENV ]]; then
        poetry install
        VENV=$(poetry env info --path)
    fi

    export VIRTUAL_ENV=$VENV
    export POETRY_ACTIVE=1
    PATH_add "$VENV/bin"
}

layout poetry
